body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select {
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group select {
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
  font-weight: 500;
  font-size: 14px;
}

th {
  background-color: #ebebeb;
  color: #070707;
}

td {
  background-color: #fff;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 13px;
}

tr:hover {
  background-color: #f1f1f1;
}

.tableTitle {
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  background: purple;
  color: #fff;
  padding: 6px 12px;
  border-radius: 2px;
}

.pageParentDiv {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sideBarSection {
  width: 150px;
  height: 100%;
  background-color: #ebebeb;
  color: #070707;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageRenderSection {
  width: calc(100% - 150px);
  height: 100%;
  padding: 10px;
}

.sideBarHeadSec {
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  border-bottom: 2px solid #171717;
  padding: 6px 6px;
}

.sideBarListDiv {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebarListUlstyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none !important;
  padding: 0px 6px;
}

.activeList {
  color: purple !important;
  text-decoration: none;
}

li {
  cursor: pointer;
}

.NonActiveList {
  text-decoration: none;
  color: #070707;
}

.addBtnSection {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.AddBtn {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  background-color: purple;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.ActionSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.EditBtn {
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  background-color: orange;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.DeleteBtn {
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  background-color: red;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.dataTables_wrapper .dataTables_info {
  display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
  font-size: 14px !important;
}

.ViewHistoryBtn {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  background-color: purple;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.BackBtn {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.ViewBtnSet {
  width: 100%;
  display: flex;
  justify-content: end;
}