doctype html
html
  head
    title Return Asset
    link(rel='stylesheet', href='/styles/style.css')
  body
    h1 Return Asset
    form(action='/assets/return' method='POST')
      div.form-group
        label(for='assetId') Asset
        select(name='assetId' required)
          each asset in assignedAssets
            option(value=asset.id) #{asset.assetName} - #{asset.assetNumber} (Assigned to #{asset.Employee.employeeName})
      
      div.form-group
        label(for='returnReason') Reason for Return
        select(name='returnReason' required)
          option(value='Upgrade') Upgrade
          option(value='Repair') Repair
          option(value='Resignation') Resignation
          option(value='Other') Other

      button(type='submit') Return Asset
    a(href='/assets').btn.btn-secondary Back to List
