doctype html
html
  head
    title Return Asset
    link(rel='stylesheet', href='/styles/style.css')
  body
    div.pageParentDiv
     div.sideBarSection
      div.sideBarHeadSec
        | KT Telematic 
      div.sideBarListDiv 
       ul.sidebarListUlstyle
        li: a(href='/').NonActiveList Home
        li: a(href='/assets').NonActiveList Asset
        li: a(href='/assetCategories').NonActiveList Asset Category
        li: a(href='/assetHistory').NonActiveList Asset History
        li: a(href='/employees').NonActiveList Employee
        li: a(href='/assets/issue').NonActiveList Issue Asset
        li: a(href='/assets/return').activeList Return Asset
        li: a(href='/assets/scrap').NonActiveList Scrap Asset
     div.pageRenderSection
      div
        form(action='/assets/return' method='POST')
          div.form-group
            label(for='assetId') Asset
            select(name='assetId' required)
              each asset in assignedAssets
                option(value=asset.id) #{asset.assetName} - #{asset.assetNumber} (Assigned to #{asset.Employee.employeeName})
          
          div.form-group
            label(for='returnReason') Reason for Return
            select(name='returnReason' required)
              option(value='Upgrade') Upgrade
              option(value='Repair') Repair
              option(value='Resignation') Resignation
              option(value='Other') Other

          button(type='submit' class='ViewHistoryBtn') Return Asset
